!!! Strict
%html.iki
  %head
    %link{:rel=>'stylesheet', :href=>'/cms/css', :type=> 'text/css'}
    %script{:type=>'text/javascript', :src=>'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'}
    %script{:type=>'text/javascript', :src=>'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.js'}
    <!--[if lt IE 9]>
    %script{:type=>'text/javascript', :src=>'http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js'}
    <![endif]-->
    %title CMS

  %body.iki
    #iki
      #background
      #logo
      #error
