#iki
  .background
  #logo
  #edit_box
    /- records.each do |record|
    - record = records.first if defined? records
    = show :form, {}, {:record => record}
    #edit_bottom
    #edit_bottom_nav
      - if !record.new?
        .delete{:id => record.id}
        .delete_item item verwijderen
      .cancel
      .save
