.images{:style => 'display: inline-block;'}
  - Image.all.each do |image|
    .span{:style => 'margin-bottom: 20px;', :id => image.id}
      %button.btn.btn-mini.btn-danger.destroy{:style => 'position: absolute;', :type => 'button', :'data-original-title' => 'Verwijder', :rel => 'tooltip', :'data-id' => image.id}
        %i.icon-trash.icon-white
      %img.img-rounded.item{:style => 'height: 113px;', :id => image.id, :src => image.file.process(:thumb, '113x113#').url, :url => image.file.url, :name => image.file.name}