!!! Strict
%html
  %head
    = cms
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title 

    %link{:rel=>'stylesheet', :href=>'/stylesheets/reset.css', :type=>'text/css'}

    %script{:type=>'text/javascript', :src=>'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %script{:type=>'text/javascript', :src=>'/javascript/index.js'}
  %body
    = logout

    %h1 OMG! I love you!

